.welcome-intro {
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-div {
  /* width: 80%; */
  /* margin: 0 auto; */
  height: 83%;
  width: 60%;
  margin: 0 auto;
}

.photo-div img {
  /* width: 100%; */
  /* height: 100%; */
  border-radius: 20px;
  image-rendering: pixelated;
}

.about-row {
  /* margin: 0; */
  /* padding: 100px 20px; */
  padding-top: 100px;
}

.title,
.welcome h1,
h2,
h3,
h4 {
  color: #77b32e;
}

.welcome p {
  padding-right: 30px;
}

.dg-photo {
  width: 100%;
}

.form-check-input:checked {
  background-color: #77b32e;
  border-color: #77b32e;
}

.mandate {
  padding: 0 50px;
}

.mandate li {
  list-style-type: square;
  margin: 15px 0;
}

.mt- {
  margin: 0 !important;
}

@media screen and (max-width:720px) {
  .photo-div {
    /* width: 80%; */
    /* margin: 0 auto; */
    height: 83%;
    width: 100%;
    margin: 0 auto;
  }
}