.gallery-container{
padding-top: 100px;
}

.video-player {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.video-player video {
  width: 100%;
  height: auto;
}

.gallery {
  padding-bottom: 20px;
}

.gallery-title {
  color: #77b32e;
}

.view-more {
  padding-top: 50px;
}

.view-more a {
  color: #fff;
  background-color: #55da20;
  border-radius: 5px;
  padding: 3px 10px;
}

.view-more a:hover {
  color: #fff;
  background-color: #3a9217;
  padding: 3px 10px;
}

.row {
  padding: 0 50px;
  margin: 0;
}
.image-div {
  padding: 5px;
}

.image-div:hover {
  cursor: zoom-in;
}

.img-wrapper {
  width: 100%;
  height: 100%;
}

.image {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.modal-header {
  border: none;
  /* padding: 0; */
}
